.DS_Store
*.sqlite3
*.pyc
staticfiles/
uploads/
local_settings.py
.anvil/*
__pycache__/
.Python
/bin
/lib
/src
/include
.coverage
.venv
/media/
.idea/*
.vscode
.cache/
node_modules/
static/build/
static/local/
static/rev-manifest.json
temp/
virenv/
SAICproject/__pycache__/
saic/share/python-wheels/
saic/lib/python3.6/site-packages/
saic/bin/__pycache__/
**migrations*
db.sqlite3
saic.log
/bin/
/env/